
@{
    ViewBag.Title = "Index";
}

    <main>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/themes/base/images/caruseli.jpg" alt="Fruit_1" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/themes/base/images/caruseli.jpg" alt="Fuit_2" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>

        <section class="gallery-block cards-gallery">
            <div class="container">
                <div class="heading">
                    <h2>Examples of our bonquets</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../img/image1.jpg">
                                <img src="~/Content/themes/base/images/bucket_1.jpg" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#">Bouquet of marshmallows</a></h6>
                                <p class="text-muted card-text">...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../img/image2.jpg">
                                <img src="~/Content/themes/base/images/bucket_2.jpg" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#"></a>Bouquet of dried fruits</h6>
                                <p class="text-muted card-text">...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../img/image3.jpg">
                                <img src="~/Content/themes/base/images/bucket_3.jpg" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#"></a>Bouquet of nuts</h6>
                                <p class="text-muted card-text">...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../img/image4.jpg">
                                <img src="~/Content/themes/base/images/bucket_4.jpg" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#">Bouquet of marshmallows and flowers</a></h6>
                                <p class="text-muted card-text">...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../img/image5.jpg">
                                <img src="~/Content/themes/base/images/bucket_5.jpg" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#">Bonquet of oranges</a></h6>
                                <p class="text-muted card-text">...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" href="../img/image6.jpg">
                                <img src="~/Content/themes/base/images/bucket_6.jpg" alt="Card Image" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6><a href="#">Bouquet of berries</a></h6>
                                <p class="text-muted card-text">...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
