
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sign_up";
}
    <div class="body-bg">
        <h2 class="text-center">Sign Up</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3" for="lastName">Last Name:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="lastName" placeholder="Input last name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="firstName">First Name:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="firstName" placeholder="Input first name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Birthday:</label>
                <div class="col-xs-3">
                    <select class="form-control">
                        <option>Date</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <select class="form-control">
                        <option>Month</option>
                    </select>
                </div>
                <div class="col-xs-3" style="margin-bottom:20px;">
                    <select class="form-control">
                        <option>Year</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="inputEmail">Email:</label>
                <div class="col-xs-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="inputPassword">Password:</label>
                <div class="col-xs-9">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Input Password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="confirmPassword">Confirm Password:</label>
                <div class="col-xs-9">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="phoneNumber">Phone Number:</label>
                <div class="col-xs-9">
                    <input type="tel" class="form-control" id="phoneNumber" placeholder="Input Phone Number">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Gender:</label>
                <div class="col-xs-2">
                    <label class="radio-inline">
                        <input type="radio" name="genderRadios" value="male"> Male
                    </label>
                </div>
                <div class="col-xs-2">
                    <label class="radio-inline">
                        <input type="radio" name="genderRadios" value="female"> Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="agree">  I agree <a href="#">conditions</a>.
                    </label>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                    <input type="reset" class="btn btn-default" value="Clear Form">
                </div>
            </div>
        </form>
    </div>

